<% if(user==false){ %>
    <%- include('include/error') %>
        <% } else { %>
            <div class="container">
                <div class="row">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/administracion" class="text-dark">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Categorías</li>
                        </ol>
                    </nav>
                    <div class="row d-flex align-items-center my-3">
                        <div class="col-3 my-2 mx-0 d-flex flex-row align-items-center border-bottom">
                            <img width="30" height="30" src="https://img.icons8.com/ios/30/search--v1.png"
                                alt="search--v1" onclick="searchComment()" />
                            <input class="form-control w-100 border-0" list="datalistOptions" id="seacrhComment"
                                placeholder="Buscar Comentario..." type="text" name="busqueda">
                        </div>
                        <div class="col-3">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary justify-content-end" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Ver reseñas
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Reseñas del producto
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="row my-3">
                                            <div class="col-10 d-flex flex-row align-items-center ms-4">
                                                <label for="" class="form-label me-2">Producto: </label>
                                                <input type="text" class="form-control" name="product"
                                                    id="producto-comentario" required>
                                                <button type="button" class="btn btn-primary ms-3"
                                                    id="btn-buscar">Buscar</button>
                                            </div>
                                        </div>
                                        <div id="container-canvas"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Comentario</th>
                                <th scope="col">Reseña</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% comments.forEach((data)=>{ %>
                                <tr>
                                    <td>
                                        <%= data.comment %>
                                    </td>
                                    <td>
                                        <%= data.review %>
                                    </td>
                                    <td>
                                        <%= data.product %>
                                    </td>
                                    <td>
                                        <%= data.client %>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop<%= data._id %>delete">
                                            Eliminar
                                        </button>
                                        <div class="modal fade" id="staticBackdrop<%= data._id %>delete"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Esta seguro que desea eliminar el comentario?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary">
                                                            <a href="/delete/comments/<%= data._id %>"
                                                                class="text-light text-decoration-none">Aceptar</a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <input type="text" value="<%= confirmation %>" id="confirmation" hidden>
            <input type="text" value="<%= mensaje %>" id="mensaje" hidden>
            <input type="text" value="<%= icon %>" id="icon" hidden>

            <script src="/alerts.js"></script>
            <script src="/search.js"></script>
            <script src="/comentarios.js"></script>