<div class="container-fluid">
    <div class="row">
        <main>
            <% if(user.role=='admin' ){ %>
                <div class="container d-flex justify-content-start mt-3">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary border-0" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Subir imagen</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <form id="form-image">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Subir imagen</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group flex-nowrap">
                                            <input type="file" class="form-control" aria-describedby="addon-wrapping"
                                                name="image" id="image" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="carousel-principal">
                        <div class="wrapper-carousel">
                            <i id="left" class="fa-solid fa-angle-left"></i>
                            <div class="carousel">
                                <% resources.forEach((data)=> { %>
                                    <% if(user.role=='admin' ){ %>
                                        <img src="/images/<%= data.image %>" onclick="deleteImage('<%= data._id %>')"
                                            alt="" draggable="false">
                                        <% } else { %>
                                            <img src="/images/<%= data.image %>" alt="" draggable="false">
                                            <% } %>
                                                <% }) %>
                            </div>
                            <i id="rigth" class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="container mt-3 py-3 productos">
                        <p class="fs-3 pb-3 text-darkk fw-bold">Ofertas</p>
                        <div class="row d-flex justify-content-between" id="Nuevos-productos">
                            
                            <% products.forEach((data)=> { %>
                                <div class="col-4">
                                    <div class="card text-center bg-dark border border-0"
                                        style="width: 13rem;">
                                        <img src="/images/<%= data.image %>" class="card-img-top rounded" alt="...">
                                        <div class="card-body d-grid gap-2">
                                            <h5 class="card-title">
                                                <%= data.product %>
                                            </h5>
                                            <p class="card-text">PRECIO:<%= data.price %></p>
                                            <p class="card-text">CATEGORIA:<%= data.categorie %></p>
                                            <p class="card-text">STOCK:<%= data.stock %></p>
                                            
                                            <a href="/producto/<%= data._id %>" class="btn btn-primary rounded">Ver mas...</a>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<input type="text" value="<%= confirmation %>" id="confirmation" hidden>
<input type="text" value="<%= mensaje %>" id="mensaje" hidden>
<input type="text" value="<%= icon %>" id="icon" hidden>
<script src="/index.js"></script>
<script src="/images.js"></script>
<script src="/alerts.js"></script>