<% if(user==false){ %>
    <%- include('include/error') %>
<% } else { %>
    <div class="container">
        <div class="row my-3">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/administracion" class="text-dark">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
                </ol>
            </nav>
        </div>
        <div class="row d-flex align-items-center justify-content-between my-3">
            <div class="col-3 my-2 mx-0 d-flex flex-row align-items-center border-bottom">
                <img width="30" height="30" src="https://img.icons8.com/ios/30/search--v1.png"
                    alt="search--v1" onclick="" />
                <input class="form-control w-100 border-0" list="datalistOptions" id="seacrhOrder"
                    placeholder="buscar producto..." type="text" name="busqueda">
            </div>
        </div>
        <div class="row my-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Fecha del pedido</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado del pedido</th>
                        <th scope="col">informacion</th>
                        <th scope="col">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach((data)=> { %>
                        <tr>
                            <td>
                                <%= data.name %>
                            </td>
                            <td>
                                <%= data.date %>
                            </td>
                            <td>
                                <%= data.client %>
                            </td>
                            <td>
                                <%= data.status %>
                            </td>
                            <td>
                                
                            </td>
                            <td>

                            </td>
                        </tr>
                </tbody>
                <% }) %>
            </table>
        </div>
    </div>
<% } %>


<input type="text" value="<%= confirmation %>" id="confirmation" hidden>
<input type="text" value="<%= mensaje %>" id="mensaje" hidden>
<input type="text" value="<%= icon %>" id="icon" hidden>

<script src="/alerts.js"></script>
<script src="/search.js"></script>