<% if(user==false){ %>
	<%- include('include/error') %>
		<% } else { %>
			<div class="container">
				<div class="row my-3">
					<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
						aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/administracion" class="text-dark">Inicio</a></li>
							<li class="breadcrumb-item active" aria-current="page">Usarios</li>
						</ol>
					</nav>
				</div>
				<div class="row d-flex align-items-center justify-content-between my-3">
					<div class="col-3 my-2 mx-0 d-flex flex-row align-items-center border-bottom">
						<img width="30" height="30" src="https://img.icons8.com/ios/30/search--v1.png"
							alt="search--v1" onclick="searchUser()"/>
						<input class="form-control w-100 border-0" list="datalistOptions" id="seacrhUser"
							placeholder="Buscar usuario..." type="text" name="busqueda">
					</div>
					<div class="col-3 d-flex justify-content-end">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-dark" data-bs-toggle="modal"
							data-bs-target="#exampleModal">
							Añadir Usuario
						</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<form action="/api/users" method="post">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Crear usuario</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-md-6">
													<label for="" class="form-label">Nombre:</label>
													<input type="text" class="form-control" name="name" id=""
														required />
												</div>
												<div class="col-md-5">
													<label for="" class="form-label">Apellido</label>
													<div class="input-group input-group-col-md-3">
														<input type="text" class="form-control" id=""
															aria-describedby="addon-wrapping" required
															name="lastname" />
													</div>
												</div>
											</div>
											<br />
											<div class="row">
												<div class="col-md-6">
													<label for="" class="form-label">Correo:</label>
													<input type="text" class="form-control" name="email" id=""
														required />
												</div>	
												<div class="col-md-5">
													<label for="username" class="form-label">Usuario</label>
													<div class="input-group input-group-col-md-3">
														<input type="text" class="form-control" id="username"
															aria-describedby="addon-wrapping" required name="user"
															autocomplete="off" />
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label for="password" class="form-label">Contraseña</label>
													<div class="input-group input-group-col-md-3">
														<input type="password" class="form-control bg-secondary"
															id="password" placeholder="" required name="password"
															autocomplete="off" />
													</div>
												</div>
												<div class="col-md-6">
													<label for="" class="form-label">Documento:</label>
													<input type="text" class="form-control" name="document" id=""
														required />
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<label for="" class="form-label">Rol</label>
													<select class="form-select" id="inputGroupSelect01" name="role"
														required>
														<option>admin</option>
														<option>client</option>
													</select>
												</div>
												<div class="col-md-6">
													<label for="" class="form-label">Estado</label>
													<select class="form-select" id="inputGroupSelect01" name="status"
														required>
														<option>active</option>
														<option>inactive</option>
														<option>banned</option>
													</select>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary">Crear</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row my-3">
					<table class="table my-3 table-bordered">
						<thead>
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Correo</th>
								<th scope="col">Usuario</th>
								<th scope="col">Nivel</th>
								<th scope="col">Estado</th>
								<th scope="col">Editar</th>
								<th scope="col">Eliminar</th>
								<th scope="col">Banear</th>
							</tr>
						</thead>
						<tbody>
							<% users.forEach((data)=> { %>
								<tr>
									<td>
										<%= data.name %>
									</td>
									<td>
										<%= data.lastname %>
									</td>
									<td>
										<%= data.email %>
									</td>
									<td>
										<%= data.user %>
									</td>
									<td>
										<%= data.role %>
									</td>
									<td>
										<%= data.status %>
									</td>
									<td>
										<button type="button" class="btn btn-warning mb-3" data-bs-toggle="modal"
											data-bs-target="#staticBackdrop<%= data._id %>update">
											Actualizar
										</button>
										<div class="modal fade" id="staticBackdrop<%= data._id %>update"
											data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
											aria-labelledby="staticBackdropLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="staticBackdropLabel">
															Actualizar: <%= data.name %>
														</h1>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<form action="/update/users/" method="post">
															<input type="text" value="<%= data._id %>" name="id"
																hidden />
															<div class="row">
																<div class="col-md-6">
																	<label for="" class="form-label">Nombre:</label>
																	<input type="text" class="form-control" name="name"
																		value="<%= data.name %>" id="" required />
																</div>
																<div class="col-md-5">
																	<label for="" class="form-label">Apellido</label>
																	<div class="input-group input-group-col-md-3">
																		<input type="text" class="form-control" id=""
																			aria-describedby="addon-wrapping" required
																			name="lastname"
																			value="<%= data.lastname %>" />
																	</div>
																</div>
															</div>
															<br />
															<div class="row">
																<div class="col-md-6">
																	<label for="" class="form-label">Correo:</label>
																	<input type="text" class="form-control" name="email"
																		value="<%= data.email %>" id="" required />
																</div>
																<div class="col-md-5">
																	<label for="" class="form-label">Usuario</label>
																	<div class="input-group input-group-col-md-3">
																		<input type="text" class="form-control" id=""
																			aria-describedby="addon-wrapping" required
																			name="user" value="<%= data.user %>" />
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-5">
																	<label for="" class="form-label">Nivel</label>
																	<select class="form-select" id="inputGroupSelect01"
																		name="role" required>
																		<option selected>
																			<%= data.role %>
																		</option>
																		<option>admin</option>
																		<option>client</option>
																	</select>
																</div>
																<div class="col-md-6">
																	<label for="" class="form-label">Estado</label>
																	<select class="form-select" id="inputGroupSelect01"
																		name="status" required>
																		<option selected>
																			<%= data.status %>
																		</option>
																		<option>active</option>
																		<option>inactive</option>
																		<option>banned</option>
																	</select>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">
																	Cancelar
																</button>
																<button type="submit" class="btn btn-primary">
																	Guardar
																</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal"
											data-bs-target="#staticBackdrop<%= data._id %>delete">
											Eliminar
										</button>
										<div class="modal fade" id="staticBackdrop<%= data._id %>delete"
											data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
											aria-labelledby="staticBackdropLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														¿Esta seguro que desea eliminar el producto?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-primary">
															<a href="/delete/users/<%= data.user %>"
																class="text-light text-decoration-none">Aceptar</a>
														</button>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										<button class="btn btn-danger">Banear</button>
									</td>
								</tr>
								<%})%>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>

			<script src="search.js"></script>