<% if( products.status=='No Stock' ){ %>
    <p class="fs-4">Producto Fuera de Stock !</p>
<% } else { %>
    <div class="d-flex flex-row justify-content-bewtween"></div>
        <% orders.forEach((data)=> { %>
            <% if( data.status == 'en proceso' ){ %>
                <button type="button" class="btn btn-warning w-50 mx-3" onclick="addOrder('<%= products.stock %>', '<%= products._id %>', '<%= products.price %>', '<%= products.product %>', '<%= data._id %>')">
                    Añadir a <%= data.name %>
                </button>
            <% } %>
        <% }) %>
    </div>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>    
<script src="/details.js" ></script>